.cart {
  position: absolute;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  width: 360px;
  height: auto;
  border-radius: 10px;
  left: 49%;
  top: 4px;
  transform: translate(-62%, 103px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    background: $quaternary-color;
    margin-top: 55px;
  }

  &__text {
    font-weight: 700;
    line-height: 26px;
    color: $quinary-color;
  }

  &__text--title {
    font-size: 16px;
    font-weight: 700;
    padding: 7px 23px 15px;
    // border-bottom: 1px solid $quaternary-color;
  }

  .cart__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 199px;
    padding: 33px 24px;

    &__row {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px;
    }


    &__text-wrapper {
      display: flex;
    }

    &__text-wrapper--title-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__text-wrapper--desc-wrapper {
      display: flex;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: $quinary-color;
    }

    &__text--price {}

    &__text--quantity {
      margin: 0 6px;
    }

    &__text--total {
      font-weight: 700;
      color: #000;
    }

    &__button {}

    &__button--delete {
      background: transparent;
      width: auto;
      padding: 0;
    }

    &__button--checkout {
      padding: 18px 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}