.product-wrapper {
    .container {
        max-width: 1054px;
    }
}

.product-row {
    display: flex;
    justify-content: space-between;
    min-height: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 93px 0 60px;

    &--full-row {
        padding: 0;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 81px;
        z-index: 999;
        display: none;
        transition: all 0.3s ease-in-out;

        &.active {
            transition: all 0.3s ease-in-out;
            display: block;
            position: absolute;
            width: 550px;
            left: 50%;
            top: 0%;
            transform: translate(-50%, 0%);
            margin-top: 80px;
        }
    }
}

.product-col {
    width: 450px;

    &--full-col {
        width: 550px;

        .close-slider {
            margin-bottom: 20px;
            float: right;
            background: transparent;
            border: none;
            margin-top: 11px;
            position: relative;
            z-index: 999;
            cursor: pointer;

            &:hover svg path {
                fill: $primary-color;
            }

        }
    }
}

.featured-product {
    position: relative;



    &__slider {
        overflow: hidden;
    }

    &__slider--small {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        max-width: 447px;
        margin: 39px auto 0;
    }

    &__slider--big {
        display: flex;
        max-width: 445px;

        img {
            width: 100%;
            float: left;
        }
    }

    &__slider--full {
        display: flex;
        max-width: none;
        width: 100%;
    }

    &__slider--mobile {
        display: none;
    }

}


.product-content {
    margin-top: 57px;

    &__subtitle {
        color: $primary-color;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__title {
        color: $black-color;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 34px;
    }

    &__desc {
        color: $quinary-color;
        font-size: 16px;
        margin-bottom: 24px;
        font-weight: 400;
        line-height: 26px;
    }
}

.price-info {
    margin-bottom: 40px;
    max-width: 180px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__price {
        color: $black-color;
        font-size: 28px;
        font-weight: 700;
    }

    &__discount {
        color: $primary-color;
        font-size: 16px;
        font-weight: 700;
        background: $secondary-color;
        padding: 5px 10px;
        border-radius: $radius-4;

    }

    &__old-price {
        color: $tertiary-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-decoration-line: line-through;
        // margin-bottom: 58px
    }
}

.checkout-row {
    display: flex;
}

.checkout-col {
    display: flex;
}

.quantity-controller {
    flex-grow: 0;
    background-color: $bg-color-1;
    border-radius: $radius-4;
    margin: 0 20px 0 0;
    max-width: 158px;

    // input of type number 
    input[type=number] {
        width: 100%;
        background: $bg-color-1;
        border: none;
        color: $black-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .button {
        color: $primary-color;
        background: transparent;
        padding: 0;

        &:hover {
            background-color: darken($bg-color-1, 10%);
        }

        &:active {
            background: transparent;
            box-shadow: 0 1px #dcdcdc;
            transform: none;
        }
    }
}

.slider__controller {
    position: absolute;
    top: 0;
    margin-top: 290px;
    background: transparent;
    border: none;
    cursor: pointer;

    &--prev {
        right: 522px;
    }

    &--next {
        left: 522px;
    }
}

.add-to-cart-wrapper {
    flex-grow: 2;

    .button {
        font-size: 16px;
        font-weight: 700;
        padding: 20px 0px;
    }
}

@media (max-width: 959px) {
    .product-row {
        justify-content: center;
    }
}


@media (max-width: 767px) {
    .slider__controller {
        &--prev {
            right: 490px;
        }

        &--next {
            left: 490px;
        }
    }

}


@media (max-width: 550px) {
    .product-col {
        width: 450px;

        &--full-col {
            width: 100%;
            padding: 0;
            max-width: 370px;
            margin: 0 auto;
            padding: 0;
        }
    }

    .slider__controller {
        margin-top: 55%;

        &--prev {
            right: 350px;
        }

        &--next {
            left: 350px;
        }
    }
}

@media (max-width: 460px) {

    .product-wrapper {
        .container {
            padding: 0;
        }
    }

    .product-row {
        padding: 0;
    }

    .product-col:nth-child(2) {
        padding: 0 23px;
    }

    .featured-product {

        &__slider--small {
            display: none;
        }

        &__slider--big {
            display: none;
        }

        &__slider--mobile {
            img {
                width: 100%;
            }

            display: block;
        }

    }

    .product-content {
        margin-top: 15px;

        &__subtitle {
            font-size: 12px;
            margin-bottom: 14px;
        }

        &__title {
            font-size: 28px;
            line-height: normal;
            margin-bottom: 14px;
        }

        &__desc {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }

    .price-info {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        width: 100%;
        justify-content: space-between;
    }

    .checkout-row {
        display: block;
    }

    .quantity-controller {
        max-width: none;
        margin: 22px 0 0;
        padding: 20px;

        .button:first-of-type {
            text-align: left;
        }

        .button:last-of-type {
            text-align: right;
        }
    }

    .add-to-cart-wrapper .button {
        margin: 13px 0 0;
    }
}