//variables
$primary-color: #ff7e1b;
$secondary-color: #ffeee2;
$tertiary-color: #b6bcc8;
$quaternary-color: #e4e9f2;
$quinary-color: #69707d;
$bg-color-1: #F6F8FD;
$white-color: #ffffff;
$black-color: #1D2026;
//fonts
$primary-font: "Kumbh Sans";

//elements
$shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
$radius-1: 10px;
$radius-2: 15px;
$radius-3: 50%;
$radius-4: 6px;

//animations 
$transition: all 0.3s;