.header {
  padding: 0;
  border-bottom: #e4e9f2 2px solid;

  &__hamburger {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 107px;
  }

  &__user {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 117px;
    position: relative;
    height: 107px;

    .svg-wrapper {
      position: relative;


      &:after {
        content: "3";
        content: "3";
        color: $white-color;
        border-radius: $radius-3;
        text-align: center;
        font-size: 0.61em;
        width: 16px;
        height: 13px;
        position: absolute;
        background: $primary-color;
        bottom: 66%;
        left: 65%;
        transition: $transition;
      }

      &:hover::after {
        transform: rotate(360deg);
      }
    }
  }

  &__cart {
    cursor: pointer;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: $transition;

      path {
        fill: $primary-color;
      }
    }
  }

  &__profile-box {
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    transition: $transition;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:hover {
      border: 2px solid $primary-color;
    }
  }

  &__profile {
    width: 100%;
    height: auto;
    transition: $transition;
    border-radius: 50%;
    transform: scale(1);

    &:hover {
      transform: scale(1.225);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    margin-left: 56.5px;
    height: 107px;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    height: 107px;
    align-items: stretch;

    a {
      color: black;
      text-decoration: none;
    }
  }

  &__nav-item {
    cursor: pointer;
    color: #69707d;
    font-size: 15px;
    margin-right: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: center;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      a {
        color: $primary-color;
        transition: $transition;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 0px;
      background: $primary-color;
      transition: $transition;
      position: absolute;
      bottom: 0;
    }

    &:hover:after {
      width: 100%;
      height: 4px;
      background: $primary-color;
    }
  }
}

// Mobile styling
@media (max-width: 768px) {
  .header {
    border-bottom: none;
    padding: 20px 5px;

    &__logo {
      display: flex;
      align-items: center;
      position: relative;
      height: auto;
    }

    &__user {
      height: auto;
    }

    &__icon {
      margin-left: 17px;
    }

    &__hamburger {
      display: block;
      cursor: pointer;
      width: 17px;
      height: 3px;
      background-color: #69707d;
      border: none;
      outline: none;
      position: relative;
      z-index: 100;
      transition: background-color 0.3s ease;

      &:before {
        content: "";
        position: absolute;
        width: 17px;
        height: 3px;
        background-color: #69707d;
        top: -7px;
        left: 0;
        z-index: 100;
        transition: transform 0.3s ease;
      }

      &:after {
        content: "";
        position: absolute;
        width: 17px;
        height: 3px;
        background-color: #69707d;
        top: 7px;
        left: 0;
        z-index: 100;
        transition: transform 0.3s ease;
      }

      &.active {
        background-color: transparent;

        &:before {
          transform: rotate(45deg);
          top: 0;
        }

        &:after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }

    &__nav {
      position: fixed;
      background: #fff;
      height: 100%;
      width: 250px;
      margin: 0;
      top: 0;
      left: -250px;
      display: flex;
      justify-content: flex-start;
      padding: 90px 0 0 25px;

      &.active {
        left: 0;
        transition: left 0.3s ease;
      }
    }

    &__nav-list {
      display: flex;
      list-style: none;
      height: auto;
      align-items: stretch;
      flex-direction: column;
    }

    &__nav-item {
      margin: 0;
      display: block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &__wrapper {
      justify-content: space-between;

    }

    &__user {
      max-width: 85px;
    }
  }
}

@media (max-width: 460px) {
  .header {
    padding: 12px 22px 27px;

    &__user {
      max-width: 73px;
    }

    &__profile-box {
      width: 27px;
      height: 27px;
    }
  }
}